@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ForOrensj.Models.DTO.MessageVM>

@{
    ViewBag.Title = "ShowMessage";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="container">

    <div class="content-container clearfix">
        @foreach (var item in Model)
        {
            <h1 class="content-title"></h1>
            <div class="col-md-12">
                <div class="form-group" style="color:aquamarine">
                    Gönderen : @item.Sender
                </div>

                @Html.TextArea(item.Text, item.Text, new { @class = "form-control", disabled = "" })

            </div>
        }
        <br />
        <div class="btn-send">
            <button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-send"></span> Cevap ver</button>
        </div>

    </div>
</div>


<center>
    <div class="pagedList">
        @Html.PagedListPager(Model, page => Url.Action("ShowMessage", new { page }), PagedListRenderOptions.TwitterBootstrapPager)
    </div>
</center>
